.nav
{
    height: 65px;
    color: #ffffff;
    background-color: #040714;
    text-align: right;
}
.klub
{
    position: absolute;
    width: 77px;
    height: 36px;
    left: 88px;
    top: 19px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 31px;
    line-height: 36px;
}
span.restaurants
{
    position: absolute;
left: 76.11%;
right: 15.07%;
top: 3%;
bottom: 98.43%;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
 color: #ffffff;
}

span.business
{
    position: absolute;
    left: 66.67%;
    right: 26.11%;
    top: 3%;
    bottom: 98.43%;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    
}

.btn
{
    position: absolute;
    width: 130px;
    height: 40px;
    left: 88%;
    top: 13px;
    color: #ffffff;
    background: linear-gradient(180deg, #5200ff 0%, #9E00AC 100%);

    font-family: 'Times New Roman', Times, serif;
    font-variant-position: normal;
}