 <div class="mainbackground">
    <div class="container" >
        <div class="row">
            <div class="col-md-6">
                <h2 class="prime">Primetime Reservations</h2>
                <p class="reservation">Make Reservations and Order ahead, get served in minutes at the top restaurants in your city.</p>
            </div>
            <div class="col-md-6">
                
                
                <form class="form" action="">
                    <p class="join">JOIN THE KLÜB</p>
                       <div class="form-group">
                           <input class="form-control email" type="text" placeholder="Email">
                    </div>
                    <div class="form-group">    
                        <input class="form-control password" type="text" placeholder="Password">
                    </div>  
                    <div class="form-group">   
                        <input class="form-control rpassword" type="text" placeholder="Repeat your Password">
                    </div>
                    <div class="form-group">
                        
                        <input class="form-control code" type="text" placeholder="Invitation Code">
                    </div>
                      
                    <input class="btn" type="submit" value="Join Now">
                    
                </form>
            
            
            </div>
        </div>



        <hr>
        <div class="row">
            <div class="col-md-4">
                <h4>Over 200+ restaurants</h4>
                <p> Reserve at the most popular and exclusive restaurants on town</p>
            </div>
            <div class="col-md-4">
                <h4>Convenient and exclusive</h4>
                <p>Arrive to the restaurant without waiting, recieve special trait for being part of the Klüb.</p>
            </div>
            <div class="col-md-4">
                <h4>Check is paid</h4>
                <p>Simply leave when you are ready, without extra fees.</p>
            </div>
        </div>
        <hr>
        <h2>How it works</h2>
        <div class="row">
            <div class="col-md-4">
                <h3>1</h3>
                <p>Search and choose your favorite restaurant from our premium catalog.</p>
            </div>
            <div class="col-md-4">
                <h3>2</h3>
                <p>Make your reservation for any day and time you like without worrying about availability.</p>
                <input class="btn2" type="submit" value="Join Now">
            </div>
            <div class="col-md-4">
                <h3>3</h3>
                <p>Arrive to the restaurant without waiting in line and recieve special and preferencial trait.</p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6">
                
            </div>
            <div class="col-md-6">
                <h3>Top Recomendations</h3>
                <p>The most popular restaurants sorted by category and based on your tastes.</p>
            </div>
        </div>
        
    </div>

</div>
