h2.prime
{
    position: absolute;
    width: 516px;
    height: 56px;
    left: 90px;
    top: 380px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    color: #FFFFFF;


}

p.reservation
{
    position: absolute;
    width: 480px;
    height: 58px;
    left: 90px;
    top: 435px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}

p.join
{
    font-size: larger;
    width: 200px;
    height: 30px;
    top: 435px;
    color: #FFFFFF;
}
h2
{
    color: #ffffff;
}
h3
{
    color: #ffffff;
}

h4
{
    color: #FFFFFF;
}

p
{
    color: #FFFFFF;
}


.mainbackground
{
    background-color: #040714;
    background-image: url(./images/waitress.jpeg);
       
}


.form-control
{
 width: 315.28px;
 height: 44px;
 left: 960px;
 top: 256px;
 color: black;
 background-color: #EBEBEB;
}

.btn
{
    width: 315.28px;
    height: 53px;
    left: 1000px;
    top: 509;
    color: #ffffff;
    background: linear-gradient(180deg, #5200FF 0%, #9E00AC 100%);
}

.btn2
{
    position: absolute;
    width: 160px;
    height: 50px;
    color: #ffffff;
    background: linear-gradient(180deg, #5200FF 0%, #9E00AC 100%);
}
.form
{
    width: 500px;
    height: 900px;
    margin: 170px;
}
